@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Fjalla+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: slategrey;
    color: #1D1F1E;
    font-family: 'Cantarell', sans-serif;
    background: rgb(219, 205, 191);
    background: radial-gradient(circle, rgba(219, 205, 191, 1) 0%, rgba(155, 181, 201, 1) 100%)
}

h1,
h2,
h3 {
    color: rgba(155, 181, 201, 1);
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
}

.app-section {
    margin: 1rem auto 0 auto;
    width: 450px;
    height: 700px;
}

/* title and "hero image" */
.camping-type {
    background: url(../images/hero1.png) center;
    height: 120px;
    border-radius: 10px;
}

.camping-type h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.camping-type h2 {
    color: white;
}

.gear-input {
    text-align: center;
    overflow: hidden;
}

/* text input form */
#input-gear {
    font-size: 1rem;
    border: none;
    padding: 0.4rem;
    margin: 0.5rem 0;
    border-radius: 20px 0 0 20px;
    font-family: 'Cantarell', sans-serif;
    color: #444655;
}

/* input button */
#add-btn {
    padding: 0.1rem;
    border: none;
    padding: 0.5rem;
    border-radius: 0px 20px 20px 0;
    background-color: #E3F0FF;
    font-family: 'Cantarell', sans-serif;
    color: #444655;
}

/* where users gear list is */
#user-list {
    display: flex;
    flex-direction: column-reverse;
}

#user-list div {
    background: #6A8DA8;
    margin: 0.2rem 0;
    text-align: right;
    border-radius: 10px;
    overflow: auto;
}


#user-list div>p {
    margin-left: 0.3rem;
    color: #DBCDBF;
    text-align: left;
    text-transform: capitalize;
}

/* checkbox */
#user-list div>input {
    border: none;
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 0.2rem;
    margin-top: 2px;
}

/* delete edit save buttons */
#user-list div>button {
    appearance: none;
    border: none;
    padding: 0.3rem;
    margin: 2px;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Cantarell', sans-serif;
}

#user-list>div button:nth-child(3) {
    color: red;
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
}

/* responsive app */

@media screen and (max-width: 450px) {
    .app-section {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
    }

    .camping-type {
        border-radius: 0px;
    }

    #user-list div {
        margin: 0.2rem 0.2rem;
    }

    @media screen and (max-width: 300px) {

        .camping-type {
            background: url(../images/hero1.png) left;
            height: 120px;
            border-radius: 0px;
        }

        #input-gear {
            width: 99%;
        }

        .app-section h1,
        h2 {
            font-size: large;
            text-align: center;
        }

        .camping-type h2 {
            color: coral;
        }

        #input-gear {
            border-radius: 0;
        }

        #add-btn {
            padding: 0.1rem;
            border: none;
            padding: 0.5rem;
            border-radius: 20px;
            background-color: #E3F0FF;
        }

        #user-list div {
            margin: 0.2rem 0.2rem;
        }


    }