@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Fjalla+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: slategrey;
    color: #1D1F1E;
    font-family: 'Cantarell', sans-serif;
    background: rgb(219, 205, 191);
    background: radial-gradient(circle, rgba(219, 205, 191, 1) 0%, rgba(155, 181, 201, 1) 100%)
}

h1,
h2,
h3 {
    color: #1D1F1E;
    font-family: 'Fjalla One', sans-serif;
}

.app-section {
    background: #9BB5C9;
    margin: 0 auto;
    width: 450px;
    height: 700px;
}

/* title and "hero image" */
.camping-type {
    background: url(../images/hero2.png) center;
    height: 120px;
}

.camping-type h1 {
    font-size: 3rem;
    color: #DBCDBF;
    background-color: #1d1f1e4d;
}

.camping-type h2 {
    color: #DBCDBF;
    background-color: #1d1f1e4d;
}

.gear-input {
    text-align: center;
}

/* text input form */
#input-gear {
    font-size: 1rem;
}

/* input button */
#add-btn {
    padding: 0.1rem;
}

/* where users gear list is */
#user-list {
    display: flex;
    flex-direction: column-reverse;
}

#user-list div {
    background: #6A8DA8;
    margin: 0.2rem 0;
    text-align: right;
    border-radius: 4px;
}

#user-list div>p {
    margin-left: 0.3rem;
    color: #DBCDBF;
    text-align: left;
    text-transform: capitalize;
}

/* checkbox */
#user-list div>input {
    border: none;
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 0.2rem;
}

/* delete edit save buttons */
#user-list div>button {
    appearance: none;
    border: none;
    padding: 0.15rem;
    margin: 1px;
    text-transform: uppercase;
}